version: "3.8"

services:
  mongo:
    image: mongo:6.0
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"

  backend:
    build: .
    restart: unless-stopped
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/online-mcq
      - JWT_SECRET=supersecretkey
      - BASE_URL=http://localhost:5000
    depends_on:
      - mongo
    volumes:
      - ./uploads:/usr/src/app/uploads

volumes:
  mongo-data:
